.homeContainer {
  text-align: center;
}
.companyIcon {
  text-align: center;
  width: 25%;
}
.homeContents {
  margin-top: 30px;
  &__box {
    display: flex;
    flex-wrap: wrap;
    &__user {
      width: 50%;
    }
  }
}
.bookIcon {
  height: 70%;
  width: 50%;
}
.homeContainer {
  @include main-back-ground;
}
.userName {
  font-size: 20px;
}

